<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/index.css')}}">
  <link rel="shortcut icon" href="{{url_for('static',filename='styles/a.jpg')}}" type="image/x-icon">
  <title>Music Genre Classification</title>
</head>

<body style="background:url(/static/img/l.jpg) ; ">
  <div class="center-screen">
    <div class="title">
      <h1> Music Genre Classification</h1>
    </div>
    <br><br><br><br><br>
    <div class="container">
      <div class="card">
        <h2 class="uploadA"> Upload new audio file</h2>
        <br><br><br>
        <form method=post enctype=multipart/form-data>
          <label class="file-upload">
            <input type="file" name='file' />
          </label>
          <input type=submit value=Predict class="btn">
        </form>
      </div>
    </div>
  </div>
</body>

</html>